:root {
    /* Primary Clr */
    --primary-predom-clr: hsl(47, 88%, 63%);

    /* Neutral Clr */
    --neutral-clr-100: hsl(0, 0%, 100%); /* lightest */
    --neutral-clr-300: hsl(0, 0%, 50%); /* mid-light */
    --neutral-clr-600:  hsl(0, 0%, 7%); /* darkest */

    --ff-default: 'Figtree', sans-serif; 
    --fs-base: 1rem; /* 16px */
    --fw-semiBold: 600;
    --fw-extraBold: 800;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
    font: inherit;
    margin: 0;
    padding: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.1;
    -webkit-font-smoothing: antialiased;
  }
/*
  5. Improve media defaults
*/
img, svg {
    display: block;
    max-width: 100%;
}

p,
h1 {
    overflow-wrap: break-word;
}



.attribution { font-size: 12px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }