:root {
    /* Primary Clr */
    --primary-predom-clr: hsl(47, 88%, 63%);

    /* Neutral Clr */
    --neutral-clr-100: hsl(0, 0%, 100%); /* lightest */
    --neutral-clr-300: hsl(0, 0%, 50%); /* mid-light */
    --neutral-clr-600:  hsl(0, 0%, 7%); /* darkest */

    --ff-default: 'Figtree', sans-serif; 
    --fs-base: 1rem; /* 16px */
    --fw-semiBold: 600;
    --fw-extraBold: 800;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
    font: inherit;
    margin: 0;
    padding: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.1;
    -webkit-font-smoothing: antialiased;
  }
/*
  5. Improve media defaults
*/
img, svg {
    display: block;
    max-width: 100%;
}

p,
h1 {
    overflow-wrap: break-word;
}

body {
    background-color: var(--primary-predom-clr);
    font-family: var(--ff-default);
    font-size: var(--fs-base);

    display: grid;
    place-content: center;
    min-height: 100vh;
}

.card-container {
    background-color: var(--neutral-clr-100);
    border: 1px solid var(--neutral-clr-600);
    box-shadow: 7px 7px 0px 0px var(--neutral-clr-600);
    border-radius: 20px;
    overflow: hidden;
    margin-inline: 25px;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 360px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button > button {
    background-color: var(--primary-predom-clr);
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    font-weight: var(--fw-extraBold);
}

.date {
    font-size: 13px;
}

h1 {
    font-weight: var(--fw-extraBold);
    font-size: 1.4rem;
    cursor: pointer;
}

h1:hover {
    color: var(--primary-predom-clr);
}

.info {
    color: var(--neutral-clr-300);
    line-height: 1.5;
}

.flex-group {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: var(--fw-extraBold);
}

.flex-group > img {
    height: 35px;
}

.attribution { font-size: 12px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }